<p id="notice"><%= notice %></p>

<p>
  <strong>Rue:</strong>
  <%= @adress.rue %>
</p>

<p>
  <strong>String:</strong>
  <%= @adress.string %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @adress.ville %>
</p>

<p>
  <strong>String:</strong>
  <%= @adress.string %>
</p>

<p>
  <strong>Pays:</strong>
  <%= @adress.pays %>
</p>

<p>
  <strong>String:</strong>
  <%= @adress.string %>
</p>

<p>
  <strong>Codepostal:</strong>
  <%= @adress.codePostal %>
</p>

<%= link_to 'Edit', edit_adress_path(@adress) %> |
<%= link_to 'Back', adresses_path %>
