<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @education.type_education %>
</p>

<p>
  <strong>Name:</strong>
  <%= @education.name %>
</p>

<p>
  <strong>Date completed:</strong>
  <%= @education.date_completed %>
</p>

<p>
  <strong>Employe:</strong>
  <%= @education.employe %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
